<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FacadeWinformTest1._0.Properties.Settings.AdventureworksConnection"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=&quot;C:\Users\Blaine\Documents\GitHub\BlainePortfolio\Programming Architecture Examples\Using Facade Hierarchy\FacadeWinformTest1.0\AdventureWorksLT2012_Data.mdf&quot;;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>